@import url(http://fonts.googleapis.com/css?family=Quicksand:300|Nunito);

*{
	padding: 0; margin: 0; 
}

$dark: #236267;
$light: #f1f1f1;

span{
	font-family: 'Pacifico', cursive;
}

[class*="maki-"]:before {
  font-family: 'maki', sans-serif;
}

@media screen and (min-width: 0em){

	header{
		text-align: right;
		padding: 0.5em;
		background-color: $dark;
		font-family: 'Nunito', sans-serif;
		a{
			color: $light;
			text-decoration: none;
			font-size: 2em;
		}
	}

	nav{
		text-align: center;
		background-color: $light;
		font-family: 'Quicksand', sans-serif;
		font-size: 2em;
		padding: 0.5em 0;
		a{
			padding: 0 0.5em;
			text-decoration: none;
			color: $dark;
		}
	}

	article{
		section{
			font-family: 'Quicksand', sans-serif;
			padding: 2em;
			background-color: #236267;
			line-height: 1;
			text-align: left;
			h1{
			  font-family: 'Nunito', sans-serif;
			  font-size: 2em;
			  line-height: 1.2;
			  color: #68979b;
			}
			ul{
				color: $light;
				font-size: 1.5em;
				color: $dark;
				list-style-type: none;
				li { color: $light}
			}
			border-top: dashed 0.3em $light;
		}
		section.extend{
			background-color: $light;
			h1{
				color: #236267;
				padding-top: 1em;
				font-size: 1.5em;
			}
			ul{
				li { color: #68979b}
			}
		}
	}

}

@media screen and (min-width: 40em){
	nav{
		position: fixed;
		padding: 1em;
		font-size: 1.5em;
		margin: 3em 3em;
		a{
			display: block;
		}
	}
	article{
		padding: 10em 20em;

	}
}