@import url(http://fonts.googleapis.com/css?family=Pacifico|Quicksand);

*{
	padding: 0; margin: 0; 
}

*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

$dark: #12073B;
$medium: #261758;
$darker: #605492;
$light: #877CB0;

@media screen and (min-width: 0em){

	body{
		font-family: 'Quicksand', sans-serif;
		background-color: #f1f1f1;
	}

	article{
		nav{
			padding: 1em;
			background-color: $medium;
			color: $light;
			font-family: 'Pacifico', cursive;
			h1{
				font-size: 1.5em;
			}
		}

		header{
			background-color: $light;
			h1{
				cursor: pointer;
				padding: 0.5em 1em;
				color: $medium;
				letter-spacing: -0.1em;
				svg{
					width: 0.5em;
					fill: $dark;
				}
			}
			.dropdown-list{
				background-color: $light;
				min-height: 80vh;
				h2{
					padding: 0.5em 1.5em;
					font-size: 1em;
					letter-spacing: -0.1em;
					cursor: pointer;
					a{
						text-decoration: none;
						color: $medium;
					}
				}
			}
		}

		section.graph{
			margin: 0 0.5em;
			background-color: #f1f1f1;
			.hidden{
				display: none;
			}
		}

		section.form{
			padding: 0.5em;
			font-family: 'Quicksand', sans-serif;
			form{
				padding: 1em;
				label{
					display: block;
				}
				select{
					text-align: center;
					margin: 0.5em auto;
					border: none;
					padding: 0.5em 2em;
					font-size: 1.3em;
					border-radius: 0.2em;
					background-color: $light;
					color: white;
					cursor: pointer;
					option{
						background-color: #f1f1f1;
						color: $medium;
						font-size: 1em;
					}
				}
				input[type=text]{
					margin: 0.5em auto;
					padding: 0.5em 2em;
				}
				input[type=button], input[type=submit]{
					margin: 0.25em auto;
					border: none;
					padding: 0.5em 2em;
					font-size: 1em;
					border-radius: 0.2em;
					background-color: $light;
					color: white;
					cursor: pointer;
				}
				input[type=submit]{
					background-color: $medium;
					font-size: 1.3em;
				}
				.hide{
					display: none;
				}
			}
		}

		section.table{
			padding: 0.5em;
			background-color: #f1f1f1;
			div{
				padding: 1em;
				p{
					color: gray;
					strong{
						span.out{
							color: red;
						}
						span.in{
							color: green;
						}
						span.tag{
							border-bottom: dotted 0.1em;
						}
					}
				}
				.optional{
					display: none;
				}
			}
			div.header{
				display: none;
			}
			div.withdrawal{
				background-color: #FFE879;
			}
			div.deposit{
				background-color: white;
			}
			div.completed{
				background-color: #9df28f;
			}
			div.pending{
				background-color: #ffffe7;
			}
			div.refused{
				background-color: #ffc9c9;
			}
			div.loader{
				color: $light;
				display: flex;
				justify-content: center;
				cursor: pointer;
				border: solid 0.1em white;
				border-top: none;
			}
		}

		section.activity{
			display: flex;
			justify-content: center;
			align-items: center;
			div{	
				a{
					display: block;
					padding: 1em;
					margin: 1em auto;
					border: solid 0.1em $light;
					border-radius: 0.25em;
					text-decoration: none;
					color: $light;
				}
				a.recommended{
					background-color: $light;
					color: #f1f1f1;
				}
				a:hover{
					background-color: $light;
					color: #f1f1f1;
				}
			}
		}

		footer{
			padding: 2em;
			background-color: $light;
			color: #f1f1f1;
			div{
				h2{
					font-size: 1em;
					a{
						text-decoration: none;
						color: white;
						border-bottom: dotted 0.1em white;
					}
				}
			}
		}

		section.landing{
			background-color: $medium;
			min-height: 100vh;
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			justify-content: center;
			align-items: center;
			div{
				h1{
					text-align: center;
					font-family: 'Pacifico', cursive;
					font-size: 5em;
					color: $light;
				}
				h2{
					background-color: $dark;
					border-radius: 0.2em;
					font-size: 1.5em;
					padding: 1em 1.5em;
					text-align: center;
					color: $light;
					text-decoration: none;
					cursor: pointer;
				}
				form{
					input{
						margin: auto;
						width: 100%;
						display: block;
						padding: 1em;
						border: none;
						text-align: center;
						border-radius: 0.2em;
						margin-bottom: 0.5em;
					}
					input[type="submit"]{
						background-color: $dark;
						padding: 0.75em;
						font-size: 1.3em;
						text-align: center;
						color: $light;
						cursor: pointer;
					}
					display: none;
				}
			}
		}
	}
}

@media screen and (min-width: 30em){

	nav, header{
		margin: 0 2em;
	}

	section.graph{
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		margin: 0 3em !important;
		.hidden{
			display: block !important;
			width: 100%;
		}
		.visible{
			width: 100%;
		}
	}
	
}


@media screen and (min-width: 40em){

		nav, header{
			margin: 0 3em;
		}

		section.graph{
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			margin: 0 3em !important;
			.hidden{
				display: block !important;
				width: 60%;
			}
			.visible{
				width: 40%;
			}
		}

		section.table{
			div{
				margin: 0 3em;
				padding: 0.5em !important;
				display: -webkit-box;
				display: -moz-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				flex-flow: row nowrap;
				justify-content: space-between;
				align-items: center;
				.optional{
					display: none;
				}
				h2, p{ 
					font-size: 1em; 
					width: 6em;
					text-align: center;
				}
			}
			div.header{
				display: -webkit-box;
				display: -moz-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex !important;
				background-color: $light;
				padding: 1em !important;
				h2{
					color: $medium;
				}
			}
		}


}

@media screen and (min-width: 70em){

		nav, header{
			margin: 0 5em;
		}

		section.table{
			div{
				margin: 0 5em;
				.optional{
					display: block !important;
				}
			}
		}
	
}