@import url(http://fonts.googleapis.com/css?family=Pacifico|Quicksand);

*{
	padding: 0; margin: 0; 
}

*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

$dark: #12073B;
$medium: #261758;
$darker: #605492;
$light: #877CB0;

@media screen and (min-width: 0em){

	body{
		font-family: 'Quicksand', sans-serif;
	}

	article{
		nav{
			padding: 1em;
			background-color: $medium;
			color: $light;
			font-family: 'Pacifico', cursive;
			h1{
				font-size: 1.5em;
			}
		}

		header{
			h1{
				padding: 0.5em 1em;
				background-color: $light;
				color: $medium;
				letter-spacing: -0.1em;
			}
		}

		section.graph{
			background-color: #f1f1f1;
		}

		section.table{
			padding: 0.5em;
			background-color: #f1f1f1;
			div{
				padding: 1em;
				h3{
					font-size: 1.5em;
					color: $light;
				}
				p{
					color: gray;
				}
			}
			div.withdrawal{
				background-color: #FFE879;
			}
			div.deposit{
				background-color: white;
			}
			div.loader{
				padding: 1em 5em;
				h2{
					background-color: $dark;
					background-color: $dark;
					border-radius: 0.2em;
					font-size: 1.5em;
					padding: 1em;
					text-align: center;
					color: $light;
					text-decoration: none;
					cursor: pointer;
				}

			}
		}

		section.loader{
			display: flex;
			padding: 2em;
			justify-content: center;
			align-items: center;
			background-color: $medium; 

		}

		section.landing{
			background-color: $medium;
			min-height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
			div{
				h1{
					text-align: center;
					font-family: 'Pacifico', cursive;
					font-size: 5em;
					color: $light;
				}
				h2{
					background-color: $dark;
					border-radius: 0.2em;
					font-size: 1.5em;
					padding: 1em 1.5em;
					text-align: center;
					color: $light;
					text-decoration: none;
					cursor: pointer;
				}
				form{
					input{
						margin: auto;
						width: 100%;
						display: block;
						padding: 1.5em;
						border: none;
						border-radius: 0.2em;
						margin-bottom: 0.5em;
					}
					input[type="submit"]{
						background-color: $dark;
						padding: 0.75em;
						font-size: 1.3em;
						text-align: center;
						color: $light;
						cursor: pointer;
					}
					display: none;
				}
			}
		}
	}
}
