@import url(http://fonts.googleapis.com/css?family=Pacifico|Quicksand);
* {
  padding: 0;
  margin: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media screen and (min-width: 0em) {
  body {
    font-family: 'Quicksand', sans-serif; }

  article nav {
    padding: 1em;
    background-color: #261758;
    color: #877CB0;
    font-family: 'Pacifico', cursive; }
    article nav h1 {
      font-size: 1.5em; }
  article header {
    background-color: #877CB0; }
    article header h1 {
      cursor: pointer;
      padding: 0.5em 1em;
      color: #261758;
      letter-spacing: -0.1em; }
      article header h1 svg {
        width: 0.5em;
        fill: #12073B; }
    article header .dropdown-list {
      background-color: #877CB0;
      min-height: 80vh; }
      article header .dropdown-list h2 {
        padding: 0.5em 1.5em;
        font-size: 1em;
        color: #261758;
        letter-spacing: -0.1em;
        cursor: pointer; }
  article section.graph {
    background-color: #f1f1f1; }
  article section.table {
    padding: 0.5em;
    background-color: #f1f1f1; }
    article section.table div {
      padding: 1em; }
      article section.table div h3 {
        font-size: 1.5em;
        color: #877CB0; }
      article section.table div p {
        color: gray; }
    article section.table div.withdrawal {
      background-color: #FFE879; }
    article section.table div.deposit {
      background-color: white; }
    article section.table div.loader {
      padding: 1em 5em; }
      article section.table div.loader h2 {
        background-color: #12073B;
        background-color: #12073B;
        border-radius: 0.2em;
        font-size: 1.5em;
        padding: 1em;
        text-align: center;
        color: #877CB0;
        text-decoration: none;
        cursor: pointer; }
  article section.loader {
    display: flex;
    padding: 2em;
    justify-content: center;
    align-items: center;
    background-color: #261758; }
  article section.landing {
    background-color: #261758;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; }
    article section.landing div h1 {
      text-align: center;
      font-family: 'Pacifico', cursive;
      font-size: 5em;
      color: #877CB0; }
    article section.landing div h2 {
      background-color: #12073B;
      border-radius: 0.2em;
      font-size: 1.5em;
      padding: 1em 1.5em;
      text-align: center;
      color: #877CB0;
      text-decoration: none;
      cursor: pointer; }
    article section.landing div form {
      display: none; }
      article section.landing div form input {
        margin: auto;
        width: 100%;
        display: block;
        padding: 1em;
        border: none;
        text-align: center;
        border-radius: 0.2em;
        margin-bottom: 0.5em; }
      article section.landing div form input[type="submit"] {
        background-color: #12073B;
        padding: 0.75em;
        font-size: 1.3em;
        text-align: center;
        color: #877CB0;
        cursor: pointer; } }

/*# sourceMappingURL=style.css.map */
