@import url(http://fonts.googleapis.com/css?family=Bangers|Crimson+Text|Great+Vibes);

*{
	padding: 0; margin: 0; 
}

*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

$dark: #870000;
$light: #BD0C0C;
$dark_pale: #400000;
$light_pale: #f1f1f1;

@media screen and (min-width: 0em){

	nav{	
		display: none;
	}
	header{	
		color: $light;
		background-color: $dark;
		padding: 2em;
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100vh;
		div{
			text-align: right;
			h1{
				font-size: 5em;
				font-family: 'Bangers', cursive;
				line-height: 0.8;
			}
			h2{
				font-size: 3em;
				font-family: 'Crimson Text', serif;
				line-height: 0.8;
			}
		}
	}
	article{
		section{
			font-family: 'Crimson Text', serif;
			padding: 1em 2em;
			background-color: $light_pale;
			color: $dark_pale;
			h2{
				font-size: 1.5em;
			}
			h4{
				font-size: 0.8em;
				margin-bottom: 1em;
				a{
					text-decoration: none;
					color: $dark_pale;
				}
			}
			p{
				font-size: 1em;
				margin-bottom: 1em;
			}

		}
	}

	footer{
		background-color: $light;
		font-size: 1em;
		color: $light_pale;
		font-family: 'Crimson Text', serif;
		padding: 2em;
		a{
			text-decoration: none;
			color: $light_pale;
			font-family: 'Bangers', cursive;
			border-bottom: dotted 0.1em $light_pale;
			line-height: 1;
		}
	}
}

