@import url(http://fonts.googleapis.com/css?family=Bangers|Neucha|Libre+Baskerville|Crimson+Text);
* {
  padding: 0;
  margin: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media screen and (min-width: 0em) {
  nav {
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #BD0C0C; }
    nav a {
      font-family: 'Bangers', cursive;
      text-decoration: none;
      color: #f1f1f1; }

  header {
    color: #f1f1f1;
    background: url(images/home_screen.jpg);
    min-height: 100vh; }
    header div {
      background-color: black;
      text-align: right;
      opacity: 0.8;
      color: #f1f1f1;
      min-height: 100vh;
      font-family: 'Bangers', cursive;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      header div h1 {
        padding: 0 1em;
        font-size: 3em;
        line-height: 0.8; }
      header div h2 {
        padding: 0 1.25em;
        font-size: 2em;
        font-family: 'Neucha', cursive;
        line-height: 0.8;
        margin-bottom: 1.5em; }
      header div a {
        font-family: 'Neucha', cursive;
        border: solid 0.1em #f1f1f1;
        background-color: red;
        font-size: 1.5em;
        padding: 1em 2em;
        text-decoration: none;
        color: #f1f1f1; }

  article img {
    width: 100%; }
  article section {
    font-family: 'Crimson Text', serif;
    color: #400000; }
    article section div.header {
      padding: 3em 1em;
      background-image: url(images/post_photo.jpg);
      background-repeat: no-repeat;
      background-size: cover; }
      article section div.header h2 {
        font-size: 2em;
        color: #f1f1f1; }
      article section div.header h4 {
        font-size: 0.8em;
        margin-bottom: 1em;
        color: #d6d6d6; }
    article section p {
      padding: 1em;
      font-size: 1em; }
  article section.summary {
    padding: 1em;
    padding-bottom: 4em; }
    article section.summary h2 {
      padding: 0 1em; }
    article section.summary h4, article section.summary p {
      padding: 0 1.5em; }
      article section.summary h4 a, article section.summary p a {
        text-decoration: none;
        color: #400000; }

  footer {
    background-color: #BD0C0C;
    font-size: 1.5em;
    color: #f1f1f1;
    font-family: 'Crimson Text', serif;
    padding: 2em; }
    footer a {
      text-decoration: none;
      color: #f1f1f1;
      font-family: 'Bangers', cursive;
      border-bottom: dotted 0.1em #f1f1f1;
      line-height: 1; } }
@media screen and (min-width: 30em) {
  header div h1 {
    font-size: 5em; }
  header div h2 {
    font-size: 3em; }

  article {
    padding: 0 4em; } }
@media screen and (min-width: 50em) {
  nav {
    display: flex;
    justify-content: flex-end; }
    nav a {
      margin-left: 1.5em; }

  header div h1 {
    font-size: 5em; }
  header div h2 {
    font-size: 3em; }

  article {
    padding: 0 8em; }
    article section div.header h2 {
      font-size: 4em; }
    article section div.header h4 {
      font-size: 1em; }
    article section p {
      font-size: 1.5em; }
    article section.summary h2, article section.summary h4, article section.summary p {
      padding: 0.25em 0; }
      article section.summary h2 a, article section.summary h4 a, article section.summary p a {
        text-decoration: none;
        color: #400000; } }
@media screen and (min-width: 70em) {
  article {
    padding: 0 15em; } }

/*# sourceMappingURL=style.css.map */
