@import url(http://fonts.googleapis.com/css?family=Amatic+SC|Sue+Ellen+Francisco);

*{
	padding: 0; margin: 0; 
}

*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

$dark: #101010;
$light: #D6D6D6;

@media screen and (min-width: 0em){

	body{
		background-color: $dark;
	}

	footer{
		padding: 1em 2em;
		color: $light;
		font-family: 'Amatic SC', cursive; font-size: 2em;
		p{
			a{
				text-decoration: none;
				color: yellow;
				border-bottom: dotted 0.1em $light;
				line-height: 1;
			}
		}
	}

	header{

		h1{
			padding: 1em;
			color: $light;
			font-family: 'Amatic SC', cursive; font-size: 3em;
			a{
				text-decoration: none;
				fill: $light;
				.icon{
					display: inline;
					height: 1em;
				}
			}
		}
	}

	article{
		color: $light;
		min-height: 100vh;

		section.masonry{
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
			justify-contents: flex-start;
			padding: 0 2em;
			img{
				padding: 0.5em 2em;
				width: 100%;
			}
		}

		section.album{
			display: flex;
			flex-direction: column;
			padding: 0em 2em;
			div{
				max-width: 15em;
				border: solid 0.1em $light;
				padding: 0.5em;
				border-radius: 0.3em;
				color: $light;
				margin: 1em;
				h3{	font-family: 'Amatic SC', cursive; font-size: 3em; }
				a{
					font-family: 'Sue Ellen Francisco', cursive;
					font-size: 1.3em;
					line-height: 1.5;
					text-decoration: none;
					color: $light;
				}
			}

		}
		section.landing{
			padding: 2em;
			display: flex;
			justify-content: center;
			align-items: center;
			div{
				h1{
					font-family: 'Amatic SC', cursive;
					font-size: 3em;
				}
				h3{
					font-family: 'Sue Ellen Francisco', cursive;
					font-size: 1.2em;
				}
				a{
					display: block;
					background-color: $light;
					border-radius: 0.2em;
					font-size: 1.5em;
					font-family: 'Sue Ellen Francisco', cursive;
					text-align: center;
					margin-top: 1em;
					color: $dark;
					text-decoration: none;
				}
			}
		}
	}
}

@media screen and (min-width: 40em){

	article{
		section.masonry{
			display: block;
			column-count: 2;
			column-gap: 0.3em;
	    -moz-column-count: 2;
	    -moz-column-gap: 0.3em;
	    -webkit-column-count: 2;
	    -webkit-column-gap: 0.3em;
			img{
				display: inline-block;
	      margin-bottom: 0.3em;
	      width: 100%;
	      padding: 0;
			}
		}

		section.album{
			display: flex;
			justify-content: center;
			flex-direction: row;
			flex-wrap: wrap;
			padding: 0 2em;
			div{
				border: solid 0.1em $light;
				padding: 0.5em;
				border-radius: 0.3em;
				color: $light;
				margin: 1em;
				h3{	font-family: 'Amatic SC', cursive; font-size: 3em; }
				a{
					font-family: 'Sue Ellen Francisco', cursive;
					font-size: 1.3em;
					line-height: 1.5;
					text-decoration: none;
					color: $light;
				}
			}
			div:hover{
				border: solid 0.2em $light;
			}
		}
	}
}

@media screen and (min-width: 70em){

	header{
		h1{
			padding: 1em 2em;
		}
	}

	article{
		section.masonry{
			padding: 1em 10em;
			column-count: 3;
			column-gap: 0.3em;
	    -moz-column-count: 3;
	    -moz-column-gap: 0.3em;
	    -webkit-column-count: 3;
	    -webkit-column-gap: 0.3em;
	    img{
	    	opacity: 0.6;
	    }
		}
		section:hover{
			img:hover{
				opacity: 1;
				cursor: pointer;
			}
		}
	}
	
}