@import url(http://fonts.googleapis.com/css?family=Amatic+SC|Sue+Ellen+Francisco);
* {
  padding: 0;
  margin: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media screen and (min-width: 0em) {
  body {
    background-color: #101010; }

  footer {
    padding: 1em 2em;
    color: #D6D6D6;
    font-family: 'Amatic SC', cursive;
    font-size: 2em; }
    footer p a {
      text-decoration: none;
      color: yellow;
      border-bottom: dotted 0.1em #D6D6D6;
      line-height: 1; }

  header h1 {
    padding: 1em;
    color: #D6D6D6;
    font-family: 'Amatic SC', cursive;
    font-size: 3em; }
    header h1 a {
      text-decoration: none;
      fill: #D6D6D6; }
      header h1 a .icon {
        display: inline;
        height: 1em; }

  article {
    color: #D6D6D6;
    min-height: 100vh; }
    article section.masonry {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-contents: flex-start;
      padding: 0 2em; }
      article section.masonry img {
        padding: 0.5em 2em;
        width: 100%; }
    article section.album {
      display: flex;
      flex-direction: column;
      padding: 0em 2em; }
      article section.album div {
        max-width: 15em;
        border: solid 0.1em #D6D6D6;
        padding: 0.5em;
        border-radius: 0.3em;
        color: #D6D6D6;
        margin: 1em; }
        article section.album div h3 {
          font-family: 'Amatic SC', cursive;
          font-size: 3em; }
        article section.album div a {
          font-family: 'Sue Ellen Francisco', cursive;
          font-size: 1.3em;
          line-height: 1.5;
          text-decoration: none;
          color: #D6D6D6; }
    article section.landing {
      padding: 2em;
      display: flex;
      justify-content: center;
      align-items: center; }
      article section.landing div h1 {
        font-family: 'Amatic SC', cursive;
        font-size: 3em; }
      article section.landing div h3 {
        font-family: 'Sue Ellen Francisco', cursive;
        font-size: 1.2em; }
      article section.landing div h6 {
        background-color: #D6D6D6;
        border-radius: 0.2em;
        font-size: 1.5em;
        font-family: 'Sue Ellen Francisco', cursive;
        text-align: center;
        margin-top: 1em; }
        article section.landing div h6 a {
          color: #101010;
          text-decoration: none; } }
@media screen and (min-width: 40em) {
  article section.masonry {
    display: block;
    column-count: 2;
    column-gap: 0.3em;
    -moz-column-count: 2;
    -moz-column-gap: 0.3em;
    -webkit-column-count: 2;
    -webkit-column-gap: 0.3em; }
    article section.masonry img {
      display: inline-block;
      margin-bottom: 0.3em;
      width: 100%;
      padding: 0; }
  article section.album {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 2em; }
    article section.album div {
      border: solid 0.1em #D6D6D6;
      padding: 0.5em;
      border-radius: 0.3em;
      color: #D6D6D6;
      margin: 1em; }
      article section.album div h3 {
        font-family: 'Amatic SC', cursive;
        font-size: 3em; }
      article section.album div a {
        font-family: 'Sue Ellen Francisco', cursive;
        font-size: 1.3em;
        line-height: 1.5;
        text-decoration: none;
        color: #D6D6D6; }
    article section.album div:hover {
      border: solid 0.2em #D6D6D6; } }
@media screen and (min-width: 70em) {
  header h1 {
    padding: 1em 2em; }

  article section.masonry {
    padding: 1em 10em;
    column-count: 3;
    column-gap: 0.3em;
    -moz-column-count: 3;
    -moz-column-gap: 0.3em;
    -webkit-column-count: 3;
    -webkit-column-gap: 0.3em; }
    article section.masonry img {
      opacity: 0.6; }
  article section:hover img:hover {
    opacity: 1;
    cursor: pointer; } }

/*# sourceMappingURL=style.css.map */
