@import url(http://fonts.googleapis.com/css?family=Anton|Pacifico);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

*{
	padding: 0; margin: 0; 
}

*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

$dark: #3b3b3b;
$light: #f1f1f1;

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}


span{
	font-family: 'Pacifico', cursive;
}

@media screen and (min-width: 0em){

	nav{
		background-color: $light;
		font-size: 2em;
		font-family: 'Anton', sans-serif;
		text-align: right;
		padding: 1.75em 0;
		a{
			text-decoration: underline;
			color: $dark;
			margin-right: 0.2em;
		}
		a.phone-view{
			text-decoration: none;
		}
		a.social{
			display: none;
		}
	}
	article{
		padding: 0.75em 0em;
		background-color: red;
		h1 {
		  font-family: 'Anton', sans-serif;
		  font-size: 5em;
		  line-height: 1;
		}

		section{
			padding: 0.5em 0.5em;
			font-family: 'Anton', sans-serif;
			background-color: $light;
			font-size: 3em;
			line-height: 1;
			text-align: right;
			ul{
				font-size: 0.5em;
				color: $dark;
				list-style-type: none;
			}
		}
	}

}

@media screen and (min-width: 40em){
	nav{
		position: fixed;
		padding: 2em;
		font-size: 1.5em;
		margin: 3em 3em;
		a{
			display: block;
		}
		a.phone-view{
			display: none;
		}
		a.social{
			display: inline;
			text-decoration: none;
			color: tomato;
		}
	}
	article{
		padding: 10em 20em;

	}
}