@import url(http://fonts.googleapis.com/css?family=Quicksand:300|Comfortaa:700);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

*{
	padding: 0; margin: 0; 
}

*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

$dark: #236267;
$light: #f1f1f1;
$light_fedora: #3c6eb4;
$dark_fedora: #294172;

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

@media screen and (min-width: 0em){
	header{
		position: fixed;
		text-align: right;
		font-family: 'Comfortaa', cursive;
		background-color: white;
		width: 100%;
		padding: 1em;
		a{
			color: $light_fedora;
			font-size: 1em;
			text-decoration: none;
		}
	}

	footer{
		background-color: $light;
		font-size: 1em;
		color: $light_fedora;
		font-family: 'Quicksand', sans-serif;
		padding: 2em;
		a{
			text-decoration: none;
			color: $light_fedora;
			border-bottom: dotted 0.1em $dark_fedora;
			line-height: 1;
		}
	}

	article{
		section{
			padding: 0 2em;
			background-color: $dark_fedora;
			h1{
				font-family: 'Comfortaa', cursive;
				font-size: 2em;
				color: $light;
				padding: 2em 0;
			}
			div.session{
				margin: 0.1em 0;
				background-color: $light_fedora;
				font-family: 'Quicksand', sans-serif;
				padding: 1em;
				color: $light;
				h5{ font-size: 1.3em; }
				h3{ padding: 1em 0; font-size: 1.5em; }
				p{ padding: 1em 0; font-size: 1.3em;}
			}
		}

		section.landing{
			background-image: url(images/pune-mobile.png);
			background-position: center center;
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;
			height: 100vh;
			p{
				padding: 1.5em;
				font-size: 1.3em;
				text-align: center;
				img{
					margin: auto;
					margin-top: 4em;
					display: block;
					width: 100%;
					height: auto;
				}
				a.pointer{
					padding: 1.2em 1.75em;
					border: solid 0.2em $dark_fedora;
					font-family: 'Quicksand', sans-serif;
				}
				a{
					text-decoration: none;
					color: $dark_fedora;
					span{
						font-size: 2em;
					}
				}
			}
		}
	}
}


@media screen and (min-width: 35em){

	article{
		section.landing{
			p{
				img{ width: 80%;}
			}

		}

	}
}

@media screen and (min-width: 40em){

	article{
		section.landing{
			p{
				img{ width: 70%;}
			}
		}

		section{
			padding: 0 5em;
		}

	}
}


@media screen and (min-width: 60em){

	article{
		section.landing{
			p{
				img{ width: 60%;}
			}
		}
		section{
			padding: 0 8em;
		}
	}
}

@media screen and (min-width: 80em){

	article{
		section.landing{
			p{
				img{ width: 50%;}
			}
		}
		section{
			padding: 0 12em;
		}
	}

	footer{
		font-size: 1.2em;
		padding: 2em 4em;
	}

}


